/* General features container styles */
.features {
    text-align: center;
    padding: 50px 15px;
  }
  
  /* Subtitle styles */
  .features-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #20b2aa; /* Teal */
    margin-bottom: 10px;
    font-family: "Spectral", serif;
 
  }
  
  /* Title styles */
  .features-title {
    font-size: 32px;
    font-weight: 600;
    color: #232323; /* Dark blue */
    font-family: "Spectral", serif;
    margin: 25px 0px 50px;
    line-height: 1.5;
  }
  
  /* Features cards container */
  .features-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Makes the layout responsive */
  }
  
  /* Individual feature card styles */
  .feature-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid  rgba(0, 0, 0, 0.1);
    padding: 50px 35px 32px;
    width: 32%; /* Fixed width for each card */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect on feature card */
  .feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Icon styles */
  .feature-icon {
    font-size: 40px;
    color: #38b2ac; /* Teal */
    margin-bottom: 20px;
  }
  
  /* Feature card title */
  .feature-title {
    font-size: 15px;
    font-weight: 500;
    font-family: "Spectral", serif;
    color: #232323; /* Dark blue */
    margin-bottom: 10px;
  }
  
  /* Feature card description */
  .feature-description {
    font-size: 15px;
    font-weight: 500;
    color: #232323; /* Dark blue */
    line-height: 20px;
  }
  