.footer {
  background-color: #ffffff;
  padding-bottom: 100px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  letter-spacing: 0.5px;
}

.footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr; /* First column is twice as wide */
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px 80px;
  align-items: start; /* Align all items to the top */
}

.footer-section {
  text-align: left;
}

.footer-logo img {
  width: 175px;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 12px;
  text-decoration: none;
  color: #284155;
  transition: color 0.3s;
}

.footer-text1 {
  font-size: 15px;
  text-decoration: none;
  color: #284155;
  transition: color 0.3s;
  margin-bottom: 5px;
}

.footer-section h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #284155;
  font-weight: 700;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  font-size: 12px;
  text-decoration: none;
  color: #284155;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0056b3;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  background-color: #f9f9f9;
  color: #232323;
  font-size: 14px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 50px;
  }
  .footer .container {
    grid-template-columns: 1fr 1fr; /* Two columns for medium screens */
    gap: 20px; /* Reduce gap between sections */
  }


  .footer-logo img {
    width: 150px; /* Resize logo on smaller screens */
    margin: 0 auto 15px; /* Center logo */
  }

  .footer-links li {
    margin-bottom: 10px; /* Increase spacing between links */
  }

  .footer-bottom {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer .container {
    grid-template-columns: 1fr; /* Single column for mobile screens */
    padding: 30px 15px; /* Adjust padding for mobile */
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .footer-logo img {
    width: 120px; /* Further reduce logo size for mobile */
    margin: 0 auto 20px; /* Center logo */
  }

  .footer-links li {
    margin-bottom: 15px; /* Add space between links for better readability */
  }

  .footer-bottom {
    font-size: 12px;
    padding: 20px 0; /* Reduce bottom padding */
  }

  .footer-text, .footer-text1 {
    font-size: 12px; /* Adjust text size for mobile screens */
  }
}
